---
import config from "../content/config/config.json";
const today = new Date();
---

<footer class="footer">
  <ul>
    <li>
      <a href="https://www.linkedin.com/company/lukewarmsocial/">LinkedIn</a>
    </li>
    <li><a href="https://www.instagram.com/lukewarmsocial">Instagram</a></li>
    <li><a href="https://www.tiktok.com/@lukewarmsocial">TikTok</a></li>
  </ul>
  <a href="mailto:hello@lukewarmsocial.com">hello@lukewarmsocial.com</a>

  <div class="legal">
    <p>
      Lukewarm Social Ltd is a company registered in England and Wales. Company
      number: 16902883
    </p>
    <p>
      &copy; {today.getFullYear()}
      {config.seo.siteOwner}. All rights reserved.
    </p>
  </div>
</footer>

<style>
  .footer {
    padding: 2em 0.5rem;
    display: grid;
    gap: 4rem;
  }
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer p {
    margin: 0;
  }
  .legal {
    font-size: 0.8em;
  }

  .footer a:link,
  .footer a:visited {
    color: var(--light-grey);
  }

  .footer a:hover,
  .footer a:active {
    color: var(--light-green);
  }

  @media (min-width: 768px) {
    .footer {
      padding: 2em 4rem;
      grid-template-columns: 1fr [start] 1fr 1fr 1fr [end] 1fr;
      gap: 0rem;
    }
    .footer ul {
      grid-column: start;
    }
    .legal {
      grid-column: end;
    }
  }
</style>
