---
import config from "../content/config/config.json";
---

<a href="/" class="logo" title={config.seo.title}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 557.5 215.4"
    width="279"
    height="107"
    ><path
      fill="currentColor"
      d="m158.38 76.02-12.67 25.34V0H126.7v215.4h19.01v-95.03h12.67v95.03h19.01V101.36h-12.67l12.67-25.34V0h-19.01zM221.73 0h-31.67v215.4h50.68v-69.69h-19.01v50.68h-12.67v-76.02h31.68v-19.01h-31.68V19.01h12.67v50.68h19.01V0zM373.78 0h-12.67l-12.67 57.02V215.4h19.01v-95.03h12.67v95.03h19.01V57.02L386.45 0zm6.33 101.36h-12.67V57.01L373.78 19l6.34 38.01v44.35ZM31.68 196.39H19.01V0H0v215.4h50.68v-69.69h-19zM95.03 165.51v24.55c0 3.5-2.84 6.34-6.34 6.34s-6.34-2.84-6.34-6.34V0H63.34v190.06c0 13.99 11.35 25.34 25.34 25.34s25.34-11.35 25.34-25.34V0H95.01v165.51ZM437.13 0h-25.34v215.4h19.01v-95.03h6.34c3.5 0 6.34 2.84 6.34 6.34v88.69h19.01v-88.69c0-5.99-2.08-11.49-5.56-15.84 3.48-4.34 5.56-9.85 5.56-15.84V25.34C462.49 11.35 451.14 0 437.15 0Zm6.34 49.89v45.14c0 3.5-2.84 6.34-6.34 6.34h-6.34V19.01h6.34c3.5 0 6.34 2.84 6.34 6.34V49.9ZM316.76 196.39h-12.67v-76.02h6.34v-19.01h-6.34V0h-19v101.36h-6.34v19.01h6.34v76.02h-12.67V0h-19.01v215.4h82.36V0h-19.01zM538.5 0h-63.36v215.4h19.01V19.01h12.67v82.35h-6.34v19.01h6.34v95.03h19.01v-95.03h6.33v-19.01h-6.33V19.01h12.67V215.4h19V0z"
    ></path></svg
  >
</a>

<style>
  .logo:link,
  .logo:visited {
    color: var(--light-grey);
  }

  .logo:hover {
    color: var(--light-green);
  }
  .logo:active,
  .logo:focus {
    color: var(--green);
  }
</style>
